.container {
    display: flex;
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
  }
  
  .navbar {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .curriculo {
    flex: 2;
    padding: 10px;
  }
  
  .foto {
    flex: 1;
    padding: 10px;
  }