.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
}

.container {
  flex: 1;
  min-height: 70vh;
}

.navbar {
  background-color: #666;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
