.configuracao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to left, blue, green);
  height: 500px;
}

.hora {
  font-size: 90px;
}

.textoSaudacao {
  font-size: 32px;
  font-weight: bold;
}
